@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

html{
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
}

  .bg{
    background-image: url("../public/assets/fortune.PNG");
    height: 110vh;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .nav{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .btn:hover{
     transform: scale(1.1);
  }

  